<header>
      <div>
            <div class="group">
                  <div></div>

                  <div class="city">
                        <div class="name">
                              г. Москва
                        </div>
                        <div class="meta">
                              (город)
                        </div>
                  </div>


            </div>
            <div class="group">
                  <div>
                        <div>
                              <div class="name">
                                    ООО «Запсибгазпром-Газификация»
                              </div>
                              <div class="meta">
                                    (Электромонтажная организация)
                              </div>
                        </div>
                  </div>

                  <div>
                        <div class="name">
                              ФКП «УЗКС Министерства обороны»
                        </div>
                        <div class="meta">
                              (заказчик)
                        </div>
                  </div>
            </div>

            <div class="group">
                  <div>
                        <div>
                              <div class="name">

                              </div>
                              <div class="meta">
                                    (Подразделение)
                              </div>
                        </div>
                  </div>

                  <div>
                        <div class="name">
                              «Строительство автомобильного парка войсковой части 14258», по адресу: Московская область,
                              Сергиево-Посадский район, п/о Шарапово
                        </div>
                        <div class="meta">
                              (объект)
                        </div>
                  </div>
            </div>

            <div class="group"> 
                  <div>
                        <div>
                              <div class="name">

                              </div>
                              <div class="meta">
                                    (участок)
                              </div>
                        </div>
                  </div>

                  <div class="date">
                        "<div></div>"
                        <div class="mounth"></div>
                              20
                        <div></div>
                               г.
                  </div>
            </div>
      </div>
</header>