{# Акт освидетельствования участков сетей инженерно-технического обеспечения #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>atg</title>
</head>
<body>
    <div>
    <style>
      {{source('style/style.css')}}
      {{source('style/common.css')}}
    </style>

    {% include 'atg/header.html.twig' %}

    {% include 'atg/main.html.twig' %}

    {% include 'atg/footer.html.twig' %}
    </div>
</body>
</html>
