###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/public/
###< symfony/framework-bundle ###

/.idea

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

