<footer>

    <div class="quantity-copyes-act">
        <div>Акт составлен в</div>
        <div class="count"></div>
        <div>экземплярах</div>
    </div>

    <div class="data-act-field">
        <div class="title">Приложения:
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (исполнительные схемы и чертежи, результаты экспертиз, обследований, лабораторных и иных испытаний)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель застройщика или технического заказчика по вопросам строительного контроля</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы, подпись)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель лица, осуществляющего строительство</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы, подпись)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель лица, осуществляющего строительство, по вопросам строительного контроля</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы, подпись)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель лица, осуществляющего подготовку проектной документации, в случаях, когда
            авторский надзор осуществляется</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы, подпись)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель лица, выполнившего участки сетей инженерно-технического обеспечения, подлежащие
            освидетельствованию
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы, подпись)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель организации, осуществляющей эксплуатацию сетей инженерно-технического
            обеспечения
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы, подпись)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представители иных лиц
            обеспечения</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы, подпись)
        </div>
    </div>

</footer>


