
<header>
      <div style="font-size: 8pt; text-align: right; padding-left: 50%;">
            <div style="text-align: inherit;">Приложение №5 РД 11-02-2006</div>
            «Требования к составу и порядку ведения исполнительной документации при строительстве, реконструкции,
            капитальном ремонте объектов капитального строительства и требования, предъявляемые к актам
            освидетельствования работ, конструкций, участков сетей инженерно-технического обеспечения», утвержденным
            приказом Федеральной службы по экологическому, технологическому и атомному надзору от 26 декабря 2006 г. №
            1128, изм. от 09.11.2017г
      </div>
      <div class="data-act-field">
            <h3>Объект капитального строительства</h3>
            <div class="content">
                  Капитальный ремонт ГБУЗ «Детская городская поликлиника № 94 Департамента здравоохранения города
                  Москвы», расположенная по адресу: СЗАО, район Покровское-Стрешнево, ул. Вишневая, д.20, к.2
            </div>
            <div class="about-data-field">
                  (наименование, почтовый или строительный адрес объекта капитального строительства)
            </div>
      </div>

      <div class="data-act-field">
            <h3>Застройщик или технический заказчик</h3>
            <div class="content">
                  Автономная некоммерческая организация "Развитие Городских Технологий" (АНО "РГТ"),ОГРН1217700058146,
                  ИНН 9701170871, адрес: 105005, г. Москва, Плетешковский переулок, д. 22, помещение 20, этаж 3, e-mail:
                  info@ano-rgt.ru. Ассоциация содействия реставрации и возрождению национального архитектурного наследия
                  «Архитектурное наследие» СРО-С-230-07092010


            </div>
            <div class="about-data-field">
                  (наименование, ОГРН, ИНН, номер и дата выдачи свидетельства о допуске к видам работ по строительству,
                  реконструкции, капитальному ремонту объектов капитального строительства, которые оказывают влияние на
                  безопасность объектов капитального строительства, с указанием саморегулируемой организации, его
                  выдавшей1, почтовые реквизиты, телефон/факс – для юридических лиц и индивидуальных предпринимателей;
                  фамилия, имя, отчество, паспортные данные, место проживания, телефон/факс – для физических лиц)
            </div>
      </div>

      <div class="data-act-field">
            <h3>Лицо, осуществляющее строительство</h3>
            <div class="content">
                  Автономная некоммерческая организация "Развитие Городских Технологий" (АНО "РГТ"),ОГРН1217700058146,
                  ИНН 9701170871, адрес: 105005, г. Москва, Плетешковский переулок, д. 22, помещение 20, этаж 3, e-mail:
                  info@ano-rgt.ru. Ассоциация содействия реставрации и возрождению национального архитектурного наследия
                  «Архитектурное наследие» СРО-С-230-07092010


            </div>
            <div class="about-data-field">
                  (наименование, ОГРН, ИНН, номер и дата выдачи свидетельства о допуске к видам работ по строительству,
                  реконструкции, капитальному ремонту объектов капитального строительства, которые оказывают влияние на
                  безопасность объектов капитального строительства, с указанием саморегулируемой организации, его
                  выдавшей1, почтовые реквизиты, телефон/факс – для юридических лиц и индивидуальных предпринимателей;
                  фамилия, имя, отчество, паспортные данные, место проживания, телефон/факс – для физических лиц)

            </div>
      </div>

      <div class="data-act-field">
            <h3>Лицо, осуществляющее подготовку проектной документации</h3>
            <div class="content">
                  выавыа
            </div>
            <div class="about-data-field">
                  (наименование, ОГРН, ИНН, номер и дата выдачи свидетельства о допуске к видам работ по подготовке
                  проектной документации, которые оказывают влияние на езопасность объектов капитального строительства,
                  с указанием саморегулируемой организации, его выдавшей2, почтовые реквизиты, телефон/факс - для
                  юридических лиц и индивидуальных предпринимателей; фамилия, имя, отчество, паспортные данные, место
                  проживания, телефон/факс – для физических лиц)
            </div>
      </div>

      <div class="data-act-field">
            <h3>Лицо, выполнившее участки сетей инженерно-технического обеспечения, подлежащие освидетельствованию
                  освидетельствованию</h3>
            <div class="content">
                  выавыа
            </div>
            <div class="about-data-field">
                  (наименование, ОГРН, ИНН, номер и дата выдачи свидетельства о допуске к видам работ по строительству,
                  реконструкции, капитальному ремонту объектов капитального строительства, которые оказывают влияние на
                  безопасность объектов капитального строительства, с указанием саморегулируемой организации, его
                  выдавшей1, почтовые реквизиты, телефон/факс – для юридических лиц и индивидуальных предпринимателей)
            </div>
      </div>

      <div class="data-act-field">
            <h3>Организация, осуществляющая эксплуатацию сетей инженерно-технического обеспечения</h3>
            <div class="content">
                  выавыа
            </div>
            <div class="about-data-field">
                  (наименование, ОГРН, ИНН, почтовые реквизиты, телефон/факс - для юридических лиц; фамилия, имя,
                  отчество, паспортные данные, место проживания, телефон/факс – для физических лиц)
            </div>
      </div>
</header>