<main>
    <div class="name-act">
        <h3>Акт</h3>
        <h3>освидетельствования участков сетей инженерно-технического обеспечения</h3>
        <div class="meta">
            <div class="number">
                <div>№</div>
                <div style="width: 150px; border-bottom: 1px solid black;"></div>
            </div>
            <div class="data">
                <div style="width: 150px; border-bottom: 1px solid black;"></div>
                <div>г.</div>
            </div>
        </div>
    </div>




    <div class="data-act-field">
        <div class="title">Представитель застройщика или технического заказчика по вопросам строительного контроля</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель лица, осуществляющего строительство </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель лица, осуществляющего строительство, по вопросам строительного контроля</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель лица, осуществляющего подготовку проектной документации</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представители лица, выполнившего участки сетей инженерно-технического обеспечения</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Представитель организации, осуществляющей эксплуатацию сетей инженерно-технического
            обеспечения</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (должность, фамилия, инициалы)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">а также иные представители лиц, участвующих в освидетельствовании:</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (наименование, должность, фамилия, инициалы, реквизиты документа о представительстве)
        </div>
    </div>

    <div>составили настоящий акт о нижеследующем:</div>
    <div class="data-act-field">
        <div class="title">1. К освидетельствованию предъявлены следующие участки сети инженерно-технического
            обеспечения</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (перечень и краткая характеристика участков сетей инженерно-технического обеспечения)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">2. Участки сетей инженерно-технического обеспечения выполнены по проектной документации</div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (номер, другие реквизиты чертежа, наименование проектной и/или рабочей документации, сведения о лицах,
            осуществляющих подготовку раздела проектной и/или
            рабочей документации)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">3. Технические условия подключения объекта капитального строительства к сетям инженерно-
            технического обеспечения предоставлены
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (номер и дата технических условий, кем выданы, срок действия технических условий, иные сведения)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">4. При выполнении участков сетей инженерно-технического обеспечения применены:
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (наименование материалов, (изделий) со ссылкой на сертификатов или другие документов, подтверждающие
            качество)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">5. Освидетельствованы скрытые работы, оказывающие влияние на безопасность участков сетей
            инженерно-технического обеспечения
        </div>
        <div class="content">
            fdgfdg
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">6. Предъявлены документы, подтверждающие соответствие участков сетей инженерно-технического
            обеспечения предъявляемым к ним требованиям, в том числе:
        </div>
        <div class="title">
            а) исполнительные геодезические схемы положения сетей инженерно-технического обеспечения
        </div>

        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (наименование документа, дата, номер, другие реквизиты)
        </div>

        <div class="title">
            б) результаты экспертиз, обследований, лабораторных и иных испытаний выполненных работ,
            проведенных в процессе строительного контроля
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (наименование документа, дата, номер, другие реквизиты)
        </div>

        <div class="title">
            в) технические условия
        </div>
        <div class="content">
            fdgfdg
        </div>

        <div class="about-data-field">
            (наименование документа, дата, номер, другие реквизиты)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">7. Проведены необходимые испытания и опробования
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (наименование испытаний, номера и даты актов)
        </div>
    </div>

    <div class="data-act-field-data">
        <div class="title">8. Даты:</div>
        <div class="content-data">
            <div>
                <div class="title" >начала работ</div><div class="date"></div>.г
            </div>
            <div>
                <div class="title" >окончания работ</div><div class="date"></div>.г
            </div>
            
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">9. Предъявленные участки сетей инженерно-технического обеспечения выполнены в соответствии
            с техническими условиями подключения, техническими регламентами, иными нормативными
            правовыми актами и проектной документацией
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">
            (указывается наименование, статьи (пункты) технического регламента, иных нормативных правовых актов, разделы
            проектной и/или рабочей документации)
        </div>
    </div>

    <div class="data-act-field">
        <div class="title">Дополнительные сведения
        </div>
        <div class="content">
            fdgfdg
        </div>
        <div class="about-data-field">

        </div>
    </div>


</main>