      <header>
        <div style = "width: 100%; border-bottom: 1px solid black">
          <div>
            <b>Объект капительного строительства</b>
          </div>
          <div style = "min-height: 20px" >
            {{baseName}}
          </div>
        </div>
        <div style="font-size: 8pt; text-align: center; margin-bottom: 10px; font-style: italic" >
          (наименование проектной документации, почтовый или строительный адрес
          объекта капитального строительства)
        </div>
           <div style = "width: 100%; border-bottom: 1px solid black">

          <div>
            <b>
              Застройщик (технический заказчик, эксплуатирующая организация или
              региональный оператор)
            </b>
          </div>
          <div style = "min-height: 20px" >
            {{developer}}
          </div>
        </div>
        <div style="font-size: 8pt; text-align: center; margin-bottom: 10px; font-style: italic" >
          (фамилия, имя, отчество, адрес места жительства, ОГРНИП, ИНН
          индивидуального предпринимателя, наименование, ОГРН, ИНН, место
          нахождения, юридического лица, телефон/факс, наименование, ОГРН, ИНН
          саморегулируемой организации, членом которой является – для
          индивидуальных предпринимателей и юридических лиц; фамилия, имя,
          отчество, паспортные данные, адрес места жительства, телефон/факс –
          для физических лиц, не являющихся индивидуальными предпринимателями)
        </div>
        <div style = "width: 100%; border-bottom: 1px solid black">
          <div>
            <b>Лицо, осуществляющее строительство </b>
          </div>
          <div style = "min-height: 20px" >
            {{personCarryingConstruction}}
          </div>
        </div>
        <div style="font-size: 8pt; text-align: center; margin-bottom: 10px; font-style: italic" >
          (фамилия, имя, отчество, адрес места жительства, ОГРНИП, ИНН
          индивидуального предпринимателя, наименование, ОГРН, ИНН, место
          нахождения, юридического лица, телефон/факс, наименование, ОГРН, ИНН
          саморегулируемой организации, членом которой является)
        </div>
        <div style = "width: 100%; border-bottom: 1px solid black">
          <div>
            <b>Лицо, осуществляющее подготовку проектной документации</b>
          </div>
          <div style = "min-height: 20px" >
            {{personProjectDocumentation}}
          </div>
        </div>
        <div style="font-size: 8pt; text-align: center; margin-bottom: 10px; font-style: italic" >
          (фамилия, имя, отчество, адрес места жительства, ОРГНИП, ИНН
          индивидуального предпринимателя, наименование, ОГРН, ИНН, место
          нахождения юридического лица, телефон/факс, наименование, ОГРН, ИНН
          саморегулируемой организации, членом которой является)
        </div>
      </header>
      