<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Resume</title>
</head>
<body>
    <div>

    {% include 'aorc/header.html.twig' %}

    {% include 'aorc/main.html.twig' %}

   {% include 'aorc/footer.html.twig' %}
    </div>
</body>
</html>
